# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.venv/
env/
venv/

# Large files & folders
yolo11s_road_damage_results.zip
runs/
predict_best*/
predict_kutahya*/
predict_results*/
proje_raporu.pdf
proje_raporu.html

# Editors
.vscode/
.idea/
.DS_Store
